:root {
	--strongCyan: hsl(172, 67%, 45%);
	--darkCyan: hsl(183, 100%, 15%);
	--grayishCyan: hsl(184, 14%, 56%);
	--darkGrayishCyan: hsl(186, 14%, 43%);
	--lightGrayishCyan: hsl(185, 41%, 84%);
	--veryLightCyan: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}

html {
	font-size: 62.5%;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Space Mono", monospace;
}

body {
	font-size: 2.4rem;
	font-weight: 400;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
