.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.texttitle {
	color: var(--white);
}

.textdesc {
	color: var(--grayishCyan);
}

.amount {
	color: var(--strongCyan);
	font-size: 4.5rem;
}
